:root {
  --color-primary: #005b99;
  --color-danger: #df0101;
  --color-text-light: #fff;
  --color-input-border: #ccc;

  --border-radius: 0.3125rem;

  --shadow-card: -1px 3px 8px 0px rgba(0, 0, 0, 0.51);
  --shadow-button-primary: 0 4px 12px rgba(27, 169, 76, 0.2);
  --shadow-button-primary-hover: 0 4px 12px rgba(27, 169, 76, 0.5);

  --space-md: 1rem;

  --font-md: 1rem;
  --font-xl: 2rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body,
button,
input,
textarea {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.05rem;
}

header {
  background-color: var(--color-primary);
  color: var(--color-text-light);
  padding: var(--space-md);
  text-align: center;
  width: 100%;
}

h1 {
  font-size: var(--font-xl);
}

h1,
h2,
h3 {
  text-transform: capitalize;
}

h1,
h2 {
  margin: 0;
}

main {
  margin: var(--space-md) auto 3rem;
  max-width: 32rem;
  padding: var(--space-md);
}

form {
  margin-bottom: 2rem;
}

.card {
  box-shadow: var(--shadow-card);
  padding: var(--space-md);
}

label {
  display: block;
}

.input-wrapper {
  margin-bottom: 1.2rem;
}

input[type='text'],
textarea {
  border: 0.0625rem solid var(--color-input-border);
  border-radius: var(--border-radius);
  padding: 0.7rem;
  width: 100%;
}

textarea {
  resize: none;
}

button {
  border: 0.125rem solid var(--color-primary);
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: var(--font-md);
  font-weight: bold;
  outline: none;
}

button.primary {
  background-color: var(--color-primary);
  box-shadow: var(--shadow-button-primary);
  color: var(--color-text-light);
  display: block;
  margin: 0 auto;
  padding: 0.8rem var(--space-md);
}

button.primary:hover {
  box-shadow: var(--shadow-button-primary-hover);
}

button.secondary {
  background-color: transparent;
  color: var(--color-primary);
  padding: 0.5rem 0.8rem;
}

button.danger {
  background-color: var(--color-danger);
  border-color: var(--color-danger);
  color: var(--color-text-light);
}

.notes > div:nth-child(2) {
  margin-top: var(--space-md);
}

.item {
  align-items: center;
  border-top: 0.125rem solid var(--color-input-border);
  display: flex;
  justify-content: space-between;
  padding: var(--space-md) 0;
}

.item h3 {
  margin-top: 0;
}

.item p {
  margin-bottom: 0;
}

.item .btn-container {
  flex-shrink: 0;
  margin-left: var(--space-md);
}

.item .btn-container button:not(:last-child) {
  margin-right: var(--space-md);
}

.feedback {
  border-radius: var(--border-radius);
  color: var(--color-text-light);
  padding: 0.7rem;
}

.feedback.danger {
  background-color: var(--color-danger);
}

@media (max-width: 576px) {
  main {
    margin-top: 0;
  }

  form {
    margin-bottom: var(--space-md);
  }

  .item {
    display: block;
  }

  .item .btn-container {
    margin: var(--space-md) 0 0;
  }

  button.primary,
  button.secondary {
    padding: 0.2rem 0.5rem;
  }
}
